@import url('https://fonts.googleapis.com/css2?family=Baloo+2&display=swap');


@media screen and (min-width: 1024px) {
  .aboutMain {
    margin-top: 5px !important;
    flex-direction: row !important;
    justify-content: space-evenly !important;
  }
  .aboutMage {
    width: 500px !important;
  }
}

@media screen and (min-width: 768px) {
  .aboutMage {
    width: 400px !important;
  }
}


.aboutMain {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.line {
  width: 200px;
  border: 1px solid #000;
}

.aboutMage {
  width: 300px;
}

.aboutMe {
  margin-top: 30px;
  margin-bottom: 20px;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: '8 bit';
  font-size: 15px;
  text-align: center;
}

.skillsContainer {
  margin-bottom: 30px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: '8 bit';
  font-size: 15px;
  width: 300px;
}

.curriculum {
  margin-top: 30px;
  display: flex;
  background-color: rgba(230,51,42,1);
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 40px;
  border-radius: 10px;
}

.curriculum a {
  text-decoration: none;
  font-size: 20px;
  color: rgba(222,220,0,1);
}
