@media screen and (min-width: 1024px) {
  .contactMain {
    margin-top: 20px !important;
    margin-bottom: 20px !important;
    flex-direction: row-reverse !important;
    justify-content: space-evenly !important;
  }
}

@media screen and (min-width: 768px) {
  .contactMage {
    width: 500px !important;
  }
}

.contactMage {
  width: 300px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.line {
  width: 200px;
  border: 1px solid #000;
}

.contactMain {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
}

.contactForm {
  margin-top: 10px;
  height: 450px;
  width: 300px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border: 1px solid black;
  font-family: '8 bit';
}

.contactForm h1 {
  font-size: 20px;
}

.contactForm input {
  height: 30px;
  width: 250px;
  font-family: '8 bit';
  font-size: 12px;
  border-radius: 20px;
  padding-left: 5px;
}

.contactForm textarea {
  resize: none;
  width: 250px;
  height: 100px;
  font-family: '8 bit';
  font-size: 12px;
  border-radius: 20px;
  padding-left: 10px;
  padding-top: 10px;
}

.contactForm button {
  width: 250px;
  height: 30px;
  background-color: rgba(222,220,0,1);
  border: none;
  border-radius: 20px;
  font-size: 12px;
  font-family: '8 bit';
}

.contactForm {
  background: rgba( 255, 255, 255, 0.35 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 13.5px );
  -webkit-backdrop-filter: blur( 13.5px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}