@media screen and (min-width: 768px) {
  .homeMage {
    width: 400px !important;
  }
  .texts {
    width: 500px !important;
    height: 300px !important;
  }
  .texts h1 {
    font-size: 55px !important;
  }
  
  .texts p {
    font-size: 35px !important;
  }
}

@media screen and (min-width: 1024px) {
  .homeMage {
    width: 500px !important;
  }
  .texts {
    width: 500px !important;
  }
  .texts h1 {
    font-size: 60px !important;
  }
  
  .texts p {
    font-size: 35px !important;
  }
}

.homeContainer {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.homeMage {
  width: 300px;
  margin-bottom: 25px;
}

.texts {
  font-family: 'Sigilian';
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 290px;
  height: 200px;
  transform: translatey(0px);
  animation: float 5s ease-in-out infinite;
  text-align: center;
  font-weight: bold;
  position: relative;
  background-color: white;
  border-radius: 11px;
  box-shadow: 5px 5px 2px 2px #4836C9;
}

.texts h1 {
  color: rgba(230,51,42,1);
  font-size: 40px;
}

.texts p {
  font-size: 25px;
}

.texts:after {
  transform: translatey(0px);
  animation: float2 5s ease-in-out infinite;
  content: ".";
  font-weight: bold;
  -webkit-text-stroke: 0.5px;
  -webkit-text-fill-color: white;
  border: 1px solid #4836C9;
  text-shadow: 22px 22px #4836C9;
  text-align: left;
  font-size: 55px;
  width: 55px;
  height: 11px;
  line-height: 30px;
  border-radius: 11px;
  background-color: white;
  position: absolute;
  display: block;
  bottom: -30px;
  left: 0;
  box-shadow: 22px 22px #4836C9;
  z-index: -2;
  }

@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-20px);
  }
  100% {
    transform: translatey(0px);
  }
}

@keyframes float2 {
  0% {
    line-height: 30px;
    transform: translatey(0px);
  }
  55% {
    transform: translatey(-20px);
  }
  60% {
    line-height: 10px;
  }
  100% {
    line-height: 30px;
    transform: translatey(0px);
  }
}