@import url('https://fonts.googleapis.com/css?family=Baloo+2:400,800&display=swap" rel="stylesheet');

@media screen and (max-width: 858px) {

  .homeContainer {
    display: flex !important;
    flex-direction: column-reverse !important;
    align-items: center !important;
    justify-content: space-around !important;
  }

  .homeMage {
    height: 50vh !important;
  }

  .texts {
    height: 25vh !important;
    width: 80vw !important;
    display: flex !important;
    flex-direction: column !important;
    justify-content: space-evenly !important;
    align-items: center !important;
    margin-right: 15% !important;
  }
  .texts h1 {
    font-size: 3vh !important;
  }
  .texts p {
    font-size: 2vh !important;
  }
  .texts:after {
  transform: translatey(0px);
  animation: float2 5s ease-in-out infinite;
  content: ".";
  font-weight: bold;
  -webkit-text-stroke: 0.5px;
  -webkit-text-fill-color: #dadada;
  border: 1px solid;
  text-shadow: 22px 22px #4836C9;
  text-align: left;
  font-size: 55px;
  width: 55px;
  height: 11px;
  line-height: 30px;
  border-radius: 11px;
  background-color: #DADADA;
  position: absolute;
  display: block;
  bottom: -30px;
  left: 0;
  box-shadow: 22px 22px #4836C9;
  z-index: -2;
  }
}

.homeMage {
  height: 500px;
}

.texts {
  margin-top: 40px;
  margin-left: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50vw;
  height: 45vh;
}

.texts {
  transform: translatey(0px);
  animation: float 5s ease-in-out infinite;
  mix-blend-mode: multiply;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 3px;
  font-size: 20px;
  background-color: #DADADA;
  padding: 50px;
  border-radius: 11px;
  position: relative;
  box-shadow: 5px 5px 2px 2px #4836C9;
  font-family: "Baloo 2", cursive;
}

.homeInfo {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}

.homeInfo img {
  height: 500px;
}

@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-20px);
  }
  100% {
    transform: translatey(0px);
  }
}

@keyframes float2 {
  0% {
    line-height: 30px;
    transform: translatey(0px);
  }
  55% {
    transform: translatey(-20px);
  }
  60% {
    line-height: 10px;
  }
  100% {
    line-height: 30px;
    transform: translatey(0px);
  }
}