@media screen and (min-width: 768px) {
  .card {
    margin-right: 30px !important;
  }
}
  

.card {
  cursor: pointer;
  background-color: rgba(222,220,0,1);
  border-radius: 6px;
  box-shadow: 5 5px 5px rgba(0, 0, 0, 0.12), 5 5px 5px rgba(0, 0, 0, 0.24);
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  max-width: 300px;
  height: 450px;
  font-size: 15px;
  font-family: '8 bit';
}

.imageContainer {
  background-color: white;
  margin-top: 10px;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  width: 100%;
  max-width: 75px;
}

.pContainer {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.description {
  text-align: center;
}

.techs {
  width: 250px;
  height: 120px;
}

.stack  {
  margin-bottom: 10px;
  text-align: center;
  border-radius: 30px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  background-color: rgba(225,126,24,1);
  width: 120px;
  font-weight: bolder;
}

.line {
  width: 200px;
  border: 1px solid #000;
}
