@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

@media screen and (max-width: 858px) {
  nav ul {
    width: 200px !important;
    justify-content: center;
    display: flex !important;
    flex-wrap: wrap !important;
    font-size: 15px !important;
  }
}

header {
  align-items: center;
  display: flex;
  justify-content: space-around;
  width: 100vw;
  background: linear-gradient(90deg, rgba(222,220,0,1) 0%, rgba(223,162,19,1) 27%, rgba(225,126,24,1) 48%, rgba(230,51,42,1) 69%);
}

nav ul {
  display: flex;
  justify-content: space-between;
  width: 50vw;
  list-style: none;
  font-size: 20px;
}

nav a {
  text-decoration: none;
  font-family: 'Anton', sans-serif;
  color: #280330;
}

.headLogo {
  height: 60px;
}



