@media screen and (min-width: 768px) {
  .projects {
    flex-direction: row !important;
  }
  .projectsLogo {
    width: 400px !important;
  }
  .title {
    font-size: 30px !important;
  }
}

@media screen and (min-width: 1024px) {
  .title {
    display: none !important;
  }
  .line {
    display: none !important;
  }
  .projectsLogo {
    width: 500px !important;
  }
  .projectsMain {
    flex-direction: row-reverse !important;
  }
}
  

.projectsMain {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.projectsLogo {
  width: 300px;
}

.line {
  width: 200px;
  border: 1px solid #000;
}

.title {
  margin-bottom: 30px;
  margin-top: 30px;
  font-family: '8 Bit';
  font-size: 20px;
}

.projects {
  margin-bottom: 58px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
