@media screen and (max-width: 858px) {

  .projectsLogo {
    margin-top: 100px;
    height: 50vh !important;
  }

  .projectsMain {
    display: flex !important;
    flex-direction: column-reverse !important;
    justify-content: space-around;
    height: 120vh;
  }
  .projectsContainer {
    width: 350px !important;
    height: 350px !important;
    margin-bottom: 100px !important;
  }
  .line {
    width: 150px !important;
  }
  .projectsContainer li {
    width: 300px !important;
  }
}

.projectsLogo {
  height: 500px;
}

.line {
  width: 400px;
  border: 1px solid #000;
}

.projectsContainer {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}

.projectsContainer {
  margin-top: 10px;
  height: 450px;
  width: 600px;
  border: 1px solid black;
  font-family: 'Baloo 2', cursive;
  background: rgba( 255, 255, 255, 0.35 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 13.5px );
  -webkit-backdrop-filter: blur( 13.5px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.projectsContainer a {
  text-decoration: none;
}

.projectsContainer li {
  list-style: none;
  font-family: 'Baloo 2', cursive;
  font-size: 20px;
  color: currentColor;
  width: 400px;
  text-align: center;
}

.projectsContainer li:hover{
  background-color: rgba(118,169,245,1);
  box-shadow: rgb(66, 140, 252) 2px 2px 2px 2px;
  border-radius: 10px;
  color: rgba(230,51,42,1);
}

.projectsContainer ul {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 200px;
  width: 400px;
}