@media screen and (min-width: 768px) {
  .iconsContainer {
    width: 700px !important;
    font-size: 25px !important;
  }
}

@media screen and (min-width: 1024px) {
  .iconsContainer {
    width: 1000px !important;
    font-size: 25px !important;
  }
}

footer {
  display: flex;
  justify-content: center;
  margin-bottom: 9px;
}

.iconsContainer {
  width: 290px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 20px;
  font-family: 'Breath Fire';
  font-size: 20px;
  font-weight: bold;
  background-color: rgba(118,169,245,1);
  box-shadow: rgb(66, 140, 252) 2px 2px 2px 2px;
}

.footerIcon {
  margin-top: 5px;
  height: 30px;
}

