* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  background: linear-gradient(180deg, rgba(118,169,245,1) 0%, rgba(131,175,242,1) 18%, rgba(141,180,239,1) 51%, rgba(204,210,224,1) 88%);
}

header {
  height: 10vh;
}

main {
  height: 500px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

footer {
  margin-top: 15px;
  height: 7vh;
}